<div class="title-container">
    <h1>Nouvelle catégorie</h1>
</div>

<nb-card>
    <nb-card-body>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="flex-row space-between">
                <div class="flex-column">
                    <label for="name">Nom de la catégorie *</label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="name"
                        id="name"
                        type="text"
                        placeholder="Ex: S'organiser"
                    >
                </div>
                <div class="flex-column">
                    <label for="subTitle">Sous-titre de la catégorie *</label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="subTitle"
                        id="subTitle"
                        type="text"
                        placeholder="Ex: Les clés d'une bonne organisation pour aborder la rédaction de son mémoire"
                    >
                </div>
            </div>
            <div class="flex-column">
                <label for="description">Description *</label>
                <textarea
                    nbInput
                    status="basic"
                    formControlName="description"
                    id="description"
                    placeholder="Ex: Les clés d'une bonne organisation pour aborder la rédaction de son mémoire"
                ></textarea>
            </div>
            <div class="flex-row space-between">
                <button
                    nbButton
                    status="warning"
                    outline
                    routerLink="/category"
                    type="button"
                >
                    <i class="fa-solid fa-arrow-left"></i>
                    Retour à la liste
                </button>
                <button
                    nbButton
                    status="primary"
                    [disabled]="showSpinner || this.createForm.invalid"
                    [nbSpinner]="showSpinner"
                    nbSpinnerStatus="basic"
                    class="float-right yellow"
                    type="submit"
                >
                    <nb-icon icon="plus"></nb-icon>
                    Créer
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>