<h1>Confirmmation de compte</h1>
<nb-card>
    <nb-card-body *ngIf="showSpinner" [nbSpinner]="showSpinner">
        <span>Vérification en cours...</span>
    </nb-card-body>
    <nb-card-body *ngIf="!showSpinner">
        <nb-alert status="{{ alertType }}" class="{{ alertType }}">
            {{ alertMessage }}
        </nb-alert>
        <button *ngIf="alertType === 'success'" routerLink="/login" nbButton status="basic">
            <nb-icon icon="arrow-back-outline"></nb-icon>
            Retour à la connexion
        </button>
    </nb-card-body>
  </nb-card>