table {
    thead {
        tr {
            font-weight: 900;
        }
    }

    td {
        padding: 20px 10px;

        img {
            width: 150px;
        }

        a {
            width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        button {
            margin-bottom: 10px;

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

i {
    &.fa-copy {
        cursor: pointer;
        color: #FF914D;
    }
}