button {
    border: none !important;
    transition: 200ms;

    &:not(.appearance-outline) {
        &:not(.appearance-ghost) {
            &:not(.nb-tree-grid-header-change-sort-button) {
                &:not(.select-button) {
                    color: white !important;
                }
            }
        }
    }

    &.select-button {
        &:focus {
            background-color: var(--input-basic-background-color) !important;
        }
    }

    &.yellow {
        background: $yellow !important;

        &:disabled {
            background: $yellow !important;
        }
    }

    &.blue {
        background: $blue !important;

        &:disabled {
            background: $blue !important;
        }
    }

    &.red {
        background: $red !important;

        &:disabled {
            background: $red !important;
        }
    }

    &:disabled {
        opacity: 0.5;
    }

    &:hover {
        filter: contrast(0.9);
    }

    i {
        margin-right: 5px;
    }
}