<h1>Réinitialisation de mot de passe</h1>

        <!--<form [formGroup]="formReset" (ngSubmit)="onSubmit()">
            <div class="flex-column">
                <label for="mail">Adresse mail</label>
                <input nbInput status="basic" formControlName="email" type="mail" placeholder="Ex: jondoe@gmail.com">
            </div>
            <nb-alert *ngIf="showAlert" status="success" class="success">
                Un lien de réinitialisation a bien été envoyé à votre adresse mail.
            </nb-alert>
            <div class="flex-row space-between">
                <a routerLink="/login">
                    <i class="fa-solid fa-arrow-left"></i>
                    Retour à la connexion
                </a>
                <button
                    class="float-right"
                    type="submit"
                    nbButton status="basic"
                    (click)="onSubmit()"
                    [disabled]="showSpinner || this.formReset.invalid"
                    [nbSpinner]="showSpinner"
                    nbSpinnerStatus="basic"
                >
                    <nb-icon icon="log-in"></nb-icon>
                    Envoyer un lien de réinitialisation
                </button>
            </div>
        </form>-->
<nb-alert status="basic">
    La demande de mot de passe sera bientôt disponible !<br/>
    <span>En attendant, contactez-nous à <a href="mailto:hello@chaloch.agency?subject=Problème%20de%20connexion">hello@chaloch.agency</a> si vous avez des problèmes de connexion.</span>
</nb-alert>
<a routerLink="/login">
    <i class="fa-solid fa-arrow-left"></i>
    Retour à la connexion
</a>
