app-login, app-signup, app-user-confirm, app-request-new, app-reset {
    width: 100%;

    h1 {
        color: #007FAF;
    }

    form {
        button {
            width: 100%;
            color: white !important;
        }
    }
}