<div class="title-container">
    <div class="flex-column">
        <h1>Nouveau lien</h1>
    </div>
</div>
<nb-card>
    <nb-card-body>
        <form [formGroup]="createForm">
            <div class="flex-row space-between">
                <div class="flex-column">
                    <label for="name">Nom du lien *</label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="name"
                        id="name"
                        type="text"
                        placeholder="Nom de l'article"
                    >
                </div>
                <div class="flex-column">
                    <label for="redirectTo">Page de redirection *<nb-icon icon="info" nbTooltip="URL vers laquelle l'utilisateur sera redirigé" nbTooltipPlacement="top" nbButton></nb-icon></label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="redirectTo"
                        id="redirectTo"
                        type="url"
                        placeholder="Ex: https://closer.fr/"
                    >
                </div>
            </div>
            <div class="flex-row space-between">
                <div class="flex-column">
                    <label for="cover">Image *</label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="cover"
                        id="cover"
                        type="file"
                        accept=".jpg, .png, .webp"
                        (change)="fileChange($event)"
                    >
                </div>
            </div>
            <div class="flex-row space-between">
                <div class="flex-column">
                    <label for="description">Description *</label>
                    <textarea
                        nbInput
                        status="basic"
                        formControlName="description"
                        id="description"
                        type="text"
                        placeholder="Ex: Nouvelle actu du moment..."
                    ></textarea>
                </div>
            </div>
            <button
                nbButton
                status="primary"
                (click)="onSubmit()"
                [disabled]="showSpinner || this.createForm.invalid"
                [nbSpinner]="showSpinner"
                nbSpinnerStatus="basic"
                class="float-right"
            >
                <nb-icon icon="plus"></nb-icon>
                Créer
            </button>
        </form>
    </nb-card-body>
  </nb-card>

<nb-alert status="success" *ngIf="showShearableLink">
    Lien de partage :<br/>
    <span>{{ shearableLink }} <i (click)="copy(shearableLink)" class="fa-solid fa-copy"></i></span>
</nb-alert>