<div class="title-container">
    <h1>Liens <small *ngIf="links">({{ links.length }})</small></h1>
    <div *ngIf="!showActionsButtons">
      <button nbButton status="success" size="small" routerLink="/link/new">
        <i class="fa-solid fa-pen"></i>
        Créer
      </button>
    </div>
  </div>

  <nb-card *ngIf="showSpinner" [nbSpinner]="showSpinner">
    <nb-card-body>
      <div class="flex-column">
        <div class="flex-row">
          <img src="../../../assets/img/logo.svg" alt="Scriptor logo">
          <div class="flex-row space-between">
            <div class="flex-column">
              <div class="flex-row">
                <h2>
                  <i (click)="copy('')" class="fa-solid fa-copy"></i>
                  Lien partageable
                </h2>
              </div>
              <h3>
                <i (click)="copy('')" class="fa-solid fa-copy"></i>
                Titre
              </h3>
              <p>Description</p>
              
              <span>
                Redirige vers
              </span>
            </div>
            <div class="flex-column center">
              <button nbButton status="warning" size="small">
                <i class="fa-solid fa-pen"></i>
                Modifier
              </button>
              <button nbButton status="danger" size="small">
                <i class="fa-solid fa-trash"></i>
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row mt">
        <div class="badge">
          0 clics
        </div>
        <div class="badge">
          Créé aujourd'hui à 9:41
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <ng-container *ngIf="!showSpinner && !dataEmpty">
    <nb-card *ngFor="let link of links">
      <nb-card-body>
        <div class="flex-column">
          <div class="flex-row">
            <img src="{{ link.cover }}" alt="{{ link.cover }} cover">
            <div class="flex-row space-between">
              <div class="flex-column">
                <h2>
                  <i (click)="copy(link.shearableLink)" class="fa-solid fa-copy"></i>
                  {{ link.shearableLink }}
                </h2>
                <h3>
                  <i (click)="copy(link.name)" class="fa-solid fa-copy"></i>
                  {{ link.name }}
                </h3>
                <p>{{ link.description }}</p>
                
                <span>
                  Redirige vers <a href="{{ link.redirectTo }}" target="_blank">{{ link.redirectTo }}</a>
                </span>
              </div>
              <div class="flex-column center">
                <button nbButton status="warning" size="small" routerLink="/link/update/{{ link.slug }}">
                  <i class="fa-solid fa-pen"></i>
                  Modifier
                </button>
                <button nbButton status="danger" size="small" (click)="openDeleteModalFor(link)">
                  <i class="fa-solid fa-trash"></i>
                  Supprimer
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row mt">
          <div class="badge">
            {{ link.numberOfClicks }} clics
          </div>
          <div class="badge">
            Créé {{ link.createdAt }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <button
      *ngIf="hasMore"
      (click)="loadMore()"
      [nbSpinner]="showMoreBtnSpinner"
      nbButton
      status="primary"
      class="center"
    >
      <i class="fa-solid fa-arrow-right"></i>
      Charger plus
    </button>
    <span>{{ links.length }} résultats chargés</span>
  </ng-container>
  
  <nb-card *ngIf="!showSpinner && dataEmpty">
    <nb-card-body>
      <app-empty
        [title]="'Aucun lien n\'a été créé pour le moment !'"
        [message]="'Essayez maintenant.'"
        [buttonText]="'Créer un lien'"
        [buttonLink]="'/link/new'"
        [cardBorders]="false"
      ></app-empty>
    </nb-card-body>
  </nb-card>