@import '../../../assets/scss/variables';

nb-layout-header {
    position: fixed;
    z-index: 999;
    width: 100%;

    .flex-row {
        width: 100%;

        nb-actions {
            nb-action {
                a {
                    text-decoration: none;
                    
                    span {
                        &.app-name {
                            font-size: 18px;
                            font-weight: 900;
                        }
                    }
                }

                button {
                    .round {
                        height: 35px;
                        width: 35px;
                        background: $yellow;
                        padding: 10px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        color: white;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}