<div class="title-container">
    <h1>Modification de catégorie</h1>
</div>

<nb-card>
    <nb-card-body [nbSpinner]="showCardSpinner">
        <form [formGroup]="updateForm" >
            <div class="flex-row space-between">
                <div class="flex-column">
                    <label for="name">Nom de la catégorie *</label>
                    <input
                        nbInput
                        status="basic"
                        formControlName="name"
                        id="name"
                        type="text"
                        placeholder="Ex: S'organiser"
                    >
                </div>
            </div>
            <div class="flex-row space-between">
                <button
                    nbButton
                    status="warning"
                    outline
                    routerLink="/category"
                >
                    <i class="fa-solid fa-arrow-left"></i>
                    Retour à la liste
                </button>
                <button
                    nbButton
                    status="primary"
                    (click)="onSubmit()"
                    [disabled]="showSpinner || this.updateForm.invalid"
                    [nbSpinner]="showSpinner"
                    nbSpinnerStatus="basic"
                    class="float-right yellow"
                >
                    <i class="fa-solid fa-pen"></i>
                    Mettre à jour
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>